Pods/
SDK/
Live2DResource/
.DS_Store
FaceXD.xcworkspace/xcuserdata/macbookpro.xcuserdatad/UserInterfaceState.xcuserstate
Vendor/opencv2.framework
Vendor/include
Vendor/lib
FaceXD/Service/Network/request_key.h
shape_predictor_68_face_landmarks.dat
